body {
	font-family: Helvetica, Arial;
	font-weight: lighter;
	text-align: center;
}

h1 {
	color: #333;
}

p {
	color: #666;
}

dl {
  clear: both;
  padding: 10px;

  dt {
    float: left;
    width: 60px;
    font-weight: bold;
  }

  dd {
    float: left;
    margin-left: 10px;
  }

  .info {
    display: none;
  }

  .error {
    color: red;
  }
}

.buttons {
	clear: both;
	padding: 10px;
}

.playlistItem {
	background-color: blue;
	color: yellow;
}

.currentSong {
	background-color: orange;
	color: blue;
}

#EventSource {
	display: none;
}