@import helper._

@(channel: models.channel.Channel, musicLibrary: Iterable[models.song.Song])(implicit  session: play.api.mvc.Session, req: play.api.mvc.RequestHeader)

@main {
    
    <h1>@channel.name @@ @session.get("roomName")</h1>
    
	@javascriptRouter("jsRoutes")(
	    routes.javascript.MusicRoomController.addSong,
	    routes.javascript.MusicRoomController.voteToSkip,
	    routes.javascript.MusicRoomController.leaveRoom,
	    routes.javascript.MusicRoomController.chat,
	    routes.javascript.MusicRoomController.ssePlaylistAdds,
	    routes.javascript.MusicRoomController.sseChats,
	    routes.javascript.MusicRoomController.sseSongInfos,
	    routes.javascript.MusicRoomController.playSong
	)    
    <div id="libContainer">
        <ul>
        @musicLibrary.map { song =>
            <li>@song.name - @song.artist (@song.timeStr)<input type="button" class="addButton" value="Add" onclick="addSong(@song.id);"></li>
        }
        </ul>
    </div>
    <div id="playerContainer">
    	<audio autoplay>
    		<p>Your browser does not support this audio player/format. Try from a more current/common one.</p>
    	</audio>
    </div>
    @if(channel.isInstanceOf[models.playlist.PlaylistViewer]) {
    	<div id="playlistContainer">
    		<ul id="playlist">
    		</ul>
    	</div>
    }
    <div id="voteToSkipContainer"><button id="voteButton" class="disabledButton">Vote to Skip to Next Song</button></div>
    @if(channel.isInstanceOf[models.chatbox.client.ChatBoxListener]) {
	    <div id="chatLogShowSongsContainer">
				<div id="showSongsContainer"><input id="showSongs" type="checkbox" checked> songs</div>
				<div id="chatLog"></div>
	    </div>
			@if(channel.isInstanceOf[models.chatbox.client.ChatBoxFullClient]) {
 				<div id="chatContainer">
					<input type="text" id="text" placeholder="talk (press <return> to send)" onkeydown="ifReturnChat(event)" />
		 		</div>
 			}
	 	}
    <div id="leaveRoomContainer"><button class="blueButton" onclick="leaveRoom();" style="position: relative; top: 20px; left: 330px;">Leave Room =></button></div>
    <script>
	    var channelId = @channel.id;
	    var $voteButton;
	    var currentSongId = null;
	    var $chat;
	    $(function() {
	    	$voteButton = $("#voteButton");
	    	$voteButton.click(function() {
	        	if (currentSongId && this.className != "disabledButton") {
	            	this.className = "disabledButton";
	            	$.ajax(jsRoutes.controllers.MusicRoomController.voteToSkip(channelId, currentSongId));
	        	}
	    	});
	    	$chat = $("#text");
	    	$(window).on("unload", function() {
	    		leaveRoom();
	    	});
	    });
	    function addSong(songId) {
	        $.ajax(jsRoutes.controllers.MusicRoomController.addSong(channelId, songId))
	    }
	    function leaveRoom() {
	        location = jsRoutes.controllers.MusicRoomController.leaveRoom(channelId).url
	    }
	    function onSongPlay() {
				if ($voteButton && $voteButton.attr('class') === 'disabledButton') {
					$voteButton.addClass('blueButton').removeClass('disabledButton');
				}
	    }
	  </script>
	  <script src="@routes.Assets.at("javascripts/player.js")" type="text/javascript"></script>
	  @if(channel.isInstanceOf[models.playlist.PlaylistViewer]) {
	  	<script src="@routes.Assets.at("javascripts/playlist.js")" type="text/javascript"></script>
	  }
	  @if(channel.isInstanceOf[models.chatbox.client.ChatBoxListener]) {
	  	<script src="@routes.Assets.at("javascripts/chatLog.js")" type="text/javascript"></script>
	    @if(channel.isInstanceOf[models.chatbox.client.ChatBoxFullClient]) {
	    	<script src="@routes.Assets.at("javascripts/chat.js")" type="text/javascript"></script>
			}
		}
}